@if (state) {
  <div class="game-container">
    <h2>{{ state.currentRoom.name }}</h2>
    <p class="description">{{ state.currentRoom.description }}</p>

    <p class="message"><strong>{{ state.message }}</strong></p>

    @if (state.currentRoom.enemies.length > 0) {
      <div class="enemies">
        <h3>Enemies:</h3>
        <ul>
          @for (e of state.currentRoom.enemies; track e.name) {
            <li>
              {{ e.name }} - HP: {{ e.health }}
            </li>
          }
        </ul>
      </div>
    }

    <div class="player-stats">
      <h3>Player</h3>
      <p>LVL: {{state.player.level}}</p>
      <p>XP: {{state.player.xp}} / 100</p>
      <p>HP: {{ state.player.health }} / {{state.player.maxHealth}}</p>
      <p>Mana: {{ state.player.mana }} / {{state.player.maxMana}}</p>
      <p>Light Attack: {{state.player.playerAttacks[0].attackDamage}} Cost: {{state.player.playerAttacks[0].attackManaCost}}</p>
      <p>Medium Attack: {{state.player.playerAttacks[1].attackDamage}} Cost: {{state.player.playerAttacks[1].attackManaCost}}</p>
      <p>Heavy Attack: {{state.player.playerAttacks[2].attackDamage}} Cost: {{state.player.playerAttacks[2].attackManaCost}}</p>
      <p>Ultimate Attack: {{state.player.playerAttacks[3].attackDamage}} Cost: {{state.player.playerAttacks[3].attackManaCost}}</p>

    </div>

    <div class="actions">
      @for (option of state.options; track option) {
        <button
          (click)="chooseAction(option)"
          [disabled]="loading">
          {{ option }}
        </button>
      }
    </div>

    @if (state.isGameOver) {
      <div class="game-over">
        <h2>💀 Game Over 💀</h2>
        <button (click)="startGame()">Restart</button>
      </div>
    }
  </div>
}

@if (loading) {
  <div class="loading">Loading...</div>
}

@if (errorMessage) {
  <div class="error">{{ errorMessage }}</div>
}
